#content {
    margin-left: 14rem;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #4a5568;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2d3748;
}

.monster-source {
    position: relative;
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #1a202c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
}

.monster-source:hover .tooltip {
    display: block;
}